<!-- Point to static/css/style.css -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dog Collector</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
    <nav>
        <div class>
        <ul>
            <li><a href="/">Dog Collector</a></li>
        </ul>
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/dogs">View All My Dogs</a></li>
        </ul>
        </div>
    </nav>
    </header>
    <main>
    {% block content %}
    {% endblock %}
    </main>
    <footer>
    <div>All Rights Reserved, &copy; 2023 Dog Collector</div>
    </footer>
</body>
</html>