{% extends 'base.html' %}
{% block content %}

<h1 class="cyan-text text-darken-3 center-align">Dog Details</h1>


<div class="card center-align flow-text">
    <div class="card-content">
    <h4 class="cyan-text text-darken-3">{{ dog.name }}</h4>
    <p>Breed: {{ dog.breed }}</p>
    <p>Description: {{ dog.description|linebreaks }}</p>
    {% if dog.age > 0 %}
    <p>Age: {{ dog.age }}</p>
    {% else %}
    <p>Age: Puppy</p>
    {% endif %}
</div>
</div>
<div class="card-action center-align">
    <a href="{% url 'dogs_update' dog.id %}" class="but-floating btn-small">Edit</a>
    <a href="{% url 'dogs_delete' dog.id %}" class="but-floating btn-small">Delete</a>
</div>

<div>
    <form action="{% url 'add_feeding' dog.id %}" method="POST">
    {% csrf_token %}
    <!-- Render the inputs -->
    {{ feeding_form.as_p }}
    <button type="submit" class="btn btn-small waves-effect waves-light ">Add Feeding</button>
    </form>
    
    {% if dog.fed_for_today %}
        <div>{{dog.name}} has been fed all meals for today</div>
    {% else %}
        <div>{{dog.name}} might be hungry</div>
    {% endif %}
    
    <table class="striped">
        <thead>
            <tr><th>Date</th><th>Meal</th></tr>
        </thead>
        <tbody>
            {% for feeding in dog.feeding_set.all %}
            <tr>
                <td>{{feeding.date}}</td>
                <td>{{feeding.get_meal_display}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}